.circle{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: #FF7100;
}

.square{
    width:200px;
    height:200px;
    background-color: #FF7100;
}

.rectangle{
    height: 200px;
    width: 400px;
    background-color: #FF7100;
}

.myfigure{
    width:200px;
    height:200px;
    background-color: #FF7100; 
}

.container-md{
    padding: 100px 15px ;
}

.form-control-color{
    max-width: 100%;
}